# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/tests/__pycache__/
backend/uploads/
backend/k8s/secret.yaml


# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
