# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/tests/__pycache__
backend/uploads/

# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db