# Application Environment
APP_ENV=local

# Groq
GROQ_API_KEY=

# Hugging Face
HF_TOKEN=

# Qdrant
QDRANT_LOCAL_URL=http://localhost:6333
QDRANT_CLOUD_URL=https://your-cluster-url.aws.cloud.qdrant.io
QDRANT_API_KEY=

# Swagger Docs
DOCS_USERNAME=admin
DOCS_PASSWORD=change_me

# frontend
FRONT_END_URL=FRONT_END_URL